body {
    background-color: #f9dbbd;
    /*border-color: black;
    border: dashed;
    border-width: 1.5px; */
}
/*.dark{
    background-color: black;
    color: white;
}*/
div{
    padding: 45px;
}
.navbar a {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    padding: 20px;;
    font-family: Georgia;
    color:#450920;
}
.navbar a:hover{
    background-color:#450920;
    color: #f9dbbd;
}
.navbar a.active{
    background-color: #ffa5ab;
    color: #450920;
}
.title{
    text-align:center;
    font-size: 35px;
    color:#450920;
}
.maintext {
    font-size: 25px;
    font-family:Georgia;
    color:#450920;
    text-align: center;

}
.button{
    display: inline-block;
    position:relative;
    padding: 30px;
    left: 40%;
    margin-top: 55px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia;
    color:#450920;
}
.endnote{
    font-size: 15px;
    color:#450920;
    font-weight:bold;
    font-style: italic;
    text-align:center;
}